@import url('https://fonts.googleapis.com/css?family=Lato:700|Montserrat:500|Source+Code+Pro');


*{
  font-family:'Montserrat';
}

.nav{
  background-color: #333333;
  color: white;
}

.portada{
  height: 100vh;
  background-color: #0e0e0e;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}


.smallSectionGradient{
  background: rgba(106,255,143,1);
  background: -moz-linear-gradient(left, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(106,255,143,1)), color-stop(100%, rgba(0,172,191,1)));
  background: -webkit-linear-gradient(left, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  background: -o-linear-gradient(left, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  background: -ms-linear-gradient(left, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  background: linear-gradient(to right, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6aff8f', endColorstr='#00acbf', GradientType=1 );
  display: flex;
  -ms-align-items: center;
  align-items: center;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.inscribete{
  background: rgba(106,255,143,1);
  background: -moz-linear-gradient(left, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(106,255,143,1)), color-stop(100%, rgba(0,172,191,1)));
  background: -webkit-linear-gradient(left, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  background: -o-linear-gradient(left, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  background: -ms-linear-gradient(left, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  background: linear-gradient(to right, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6aff8f', endColorstr='#00acbf', GradientType=1 );
  color: white;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  height: 800px;
}

.smallSectionBlack{
  background-color: #0e0e0e;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.smallSectionBlack p{
  color: white;
  font-family: 'Source Code Pro'
}

.smallSectionBlack h2{
  color: white;
  margin-bottom: 30px;
}

.smallSectionGray{
  background-color: #e8e8e8;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.smallSectionGray p{
  color: #0e0e0e;
  font-family: 'Source Code Pro'
}

.smallSectionGray h2{
  color: #0e0e0e;
  margin-bottom: 30px;
}

.encabezado{
  text-align: center;
}

.alignLeft{
  margin: auto;
  text-align: left;
}

.alignRight{
  margin: auto;
  text-align: right;
}

.centrado{
  margin: auto;
  text-align: center;
}

.center-div{
  height: 350px;
  display: flex;
  margin: 0 auto
}

.centrado h1{
  font-size: 53px;
}

.centrado h2{
  font-size: 30px;
  margin-bottom: -12px;
}

.about-us{
  height: 100vh;
}

.string{
  color: #a4ff6b;
  font-family: 'Source Code Pro'
}

.funciones{
  color: #c25dff;
  font-family: 'Source Code Pro'
}

.call{
  color: #2da5f2;
  font-family: 'Source Code Pro'
}

.boton-try{
  text-align: right;
}

.boton-answer{
  text-align: center;
  margin-top: 20px
}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: white;
}
.modal p{
  color: black;
}

.gradientBackground{
  background: rgba(106,255,143,1);
  background: -moz-linear-gradient(left, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(106,255,143,1)), color-stop(100%, rgba(0,172,191,1)));
  background: -webkit-linear-gradient(left, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  background: -o-linear-gradient(left, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  background: -ms-linear-gradient(left, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  background: linear-gradient(to right, rgba(106,255,143,1) 0%, rgba(0,172,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6aff8f', endColorstr='#00acbf', GradientType=1 );
  border: none;
}

.smallText{
  color: #333333;
  margin-top: 20px
}

.text_center{
  text-align: center;
}









.nosotros-card{
  width: 280px;
  height: auto;
  min-height: 350px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #343a40;
  background-image: url(../img/FondoCarta.jpg);
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0,0,0,.10), 0 6px 6px rgba(0,0,0,0.10);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.nosotros-card-1{
  width: 280px;
  height: auto;
  min-height: 350px;
  margin: -415px 259px;
  padding: 10px;
  background-color: #343a40;
  background-image: url(../img/FondoCarta.jpg);
  position: absolute;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0,0,0,.10), 0 6px 6px rgba(0,0,0,0.10);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.isologotipo{

  width: 30px;
  height: 35px;
  object-fit: cover;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}

.img-nosotros{
  border-radius: 50%;
  background-color: black;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,.10), 0 6px 6px rgba(0,0,0,0.10);
}

.datos-nosotros{
  text-align: center;
}

.datos-nosotros h1{
font-size: 20px
}

.datos-nosotros h2{
font-size: 18px;
color: white
}
.datos-nosotros p{
font-size: 12px;
margin-top: 10px;
color: white
}

.button-connect-container{
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center
}
.button-connect-container p{

  margin-top: 10px;

}

.button-connect{
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  color: white;
  background: -webkit-linear-gradient(left, rgb(47, 120, 224) 0%, rgb(36, 181, 214) 100%);
  box-shadow: 0 10px 30px rgba(0,0,0,.10), 0 6px 6px rgba(0,0,0,0.10);
}

.button-connect:hover{
  color: white;
}

.nosotros-lower{
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px
}

.nosotros-lower a{
  color: white
}

@media (max-width:992px) {
  .nosotros-card{
    margin: 0px 0px;
    width: 251px;
  }

  .nosotros-card-1{
    margin: -413px 20px;
width: 251px;
  }
}
